<header>
  <nav class="nav">
      <h1>BOOK App</h1>
      <ul class="ul">
          <li><a href="/"> Home</a></li>
          <li><a href="/searches/new">Search Book</a></li>
      </ul>
  </nav>
</header>

